extends layout

block head
  link(rel="stylesheet" href="css/bootstrap.min.css")
  script(type="text/javascript" src="js/jquery-2.1.4.min.js" charset="utf-8")
  script(type="text/javascript" src="js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="https://d3js.org/d3.v3.js" charset="utf-8")
  title My Site
  
block content
  div.container
    
  #form
    div.container
      h2.text-center Please enter your information
      #form.col-md-6.col-md-offset-3
        hr
        form#login(action='/signup', method="post")
          .form-group
            label Username
            input.form-control(type='text', name="username")
          .form-group
            label Password
            input.form-control(type='password', name="password")
          .form-group
            label Name
            input.form-control(type='text', name="name")
          .form-group
            label Email
            input.form-control(type='email', name="email")
          hr
          button#login_submit.btn.btn-success.btn-block(type='submit') Create account
          i.icon-ok.icon-white 